canvas {
    /* image-rendering: pixelated;
    image-rendering: crisp-edges; */
    /* image-rendering: smooth; */

    margin-left: auto;
    margin-right: auto;
    display: block; 
    background: #000000;
}
body {
    background-color:#1e1e1e;
}